*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    justify-content: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 30px;
    grid-template-areas: "result content__details";
    align-items: center;
    /*вначале дала значение end, 
    поскольку так было написано в задании, 
    но не сошлост с вилео с резкльтатом 
    по шагу 1*/
    width: 1140px;
}

.result {
    grid-area: result;
}

.result__video-container {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding-bottom: 16px;
}

.result__video {
    height: 100%;
    width: 100%;
}

.search-form {
    display: flex;
    gap: 40px;
    justify-content: right;
    align-items: flex-end;
    
}

.search-form__fieldset {
  display: flex;
  column-gap: 30px;
  row-gap: 5px;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}

.search-form__fieldset-title {
    font-family: Fira Sans Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
}

.search-form__label-text {
    padding-left: 5px;
}

.button {
font-family: Fira Sans Condensed;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #ffffff;
background-color: transparent;
border: 1px solid #ffffff;
}

.search-form__submit-button {
flex-grow: 3;
padding: 6px;

}

.search-form__textfield {
width: 100%;
font-family: Fira Sans Condensed;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFFB2;
background-color: transparent;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
border-right: 0px;
border-left: 0px;
appearance: none;
/* Факультативный шаг. 
Когда элемент в фокусе — добавьте границу 
вокруг с использованием outline. 
У этого элемента нужно сбросить обводку 
в состоянии фокуса и вместо этого сделать 
границу у лейбла, который его окружает. 
Лейбл должен получать границу только 
когда поле находится в состоянии :focus-visible, 
но не :focus. Чтобы это реализовать, 
можно применить хитрую комбинацию 
псевдоклассов на классе 
лейбла — :has(:focus-visible). */
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__checkbox {
}

input[type='checkbox']:checked + span {
    background-color: #ffffff;
    border: 1px solid #1b1919;
}

.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    outline: 1px solid #ffffff;
}


.content__details{
    grid-area: content__details;
    height: 534px;
    width: 399px;
}

.title {
    padding-bottom: 26px;
    font-family: Oswald;
    font-weight: 700;
    font-size: 75px;
    line-height: 94%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    height: 298px;
    overflow: auto;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-item {
}

.content__card-link {
    text-decoration: none;
    color: #ffffff;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 6px;
    white-space: nowrap;
    overflow: hidden;
}

.content__video-card-title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden
}

.content__video-card-description {
  line-height: 16.2px;
  white-space: wrap; /*только при добавлении этого 
  свойства работает сраный line-clamp,
   который нужно использовать по заданию*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /*в ТЗ не прописано 
  сколько строчек должно отображаться, 
  сказано обратить внимание*/
  overflow: hidden;
}

.content__video-card-thumbnail {
   width: 194px;
    height: 103px; а нужна ли они, может как то по другому*/
    object-fit: cover;
    object-position: center;
    flex-grow: 0;
    flex-shrink: 0;
    /* flex-basis: 0; */
}
